
/* Font */

.jersey-10-regular_css {
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-style: normal;
  }

  .ropa-sans-regula_css {
    font-family: "Ropa Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .sintony-regular_css {
    font-family: "Sintony", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.tilt-warp_css{
  font-family: "Tilt Warp", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}


  /* Body HTML */
body, html
{
  margin: 0;
  padding: 0;
  background: #FFF4F4;
}


.Order-Track_css
{
  background-color: #5C3434;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  width: 30%;
  margin-left: 33%;
  font-size: 25px;
}

  .Title_css
  {
    margin: 0;
    font-size: 70px;
    text-align: center;
    color: orange;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    background-color: red;    
    border: none;
    padding: 5px;
  }

  .Title_css img{
    margin-right: 20px; 
    margin-bottom: -5px;
    height: 50px;
  }

  .caption_css {
    display: flex;
    justify-content: center;
    gap: 40px; 
    padding-top: 10px;
    background-color: #DB6262;
    border: 1px solid rgb(6, 6, 6);
  }

  
  .caption_css a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding-bottom: 2vh;
    padding-left: 9vw;
    margin-right: 8vw;
  }
  
  .caption_css a:hover {
    cursor: pointer;
    color: #7f7a7a;
  }
  


.order-tracking_css img
{
  border-radius: 100px;
  margin-left: 25%;
  margin-top: 3vw;
  border: 1px solid black;
}

  .vertice_css
  {
    border: 1px solid black;
    width: 100px;
    position: relative;
    left:32.8vw;
    bottom: 8vh;
  }

  .right-arrow_css {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
   padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: relative;
    bottom:3.8rem;
    left: 32rem;
    z-index: 1;
  }
  
  #ship
  {
    border: 1px solid   black;
    border-radius: 150px;
    position: relative;
    left: 32.6em;
    bottom: 7.5em;
    z-index: 2;
  }

  #noYet
  {
    border-radius: 100px;
    border: 1px solid black;
    margin-left: 50%;
    position: relative;
    bottom: 35.5vh;
    left:7.5vw;
  }

.order_css
{
  border: 1px solid goldenrod;
  display: flex;
  background-color: goldenrod;
  width: 10%;
  height: 3em;
  border-radius: 20px;
  position: relative;
  bottom: 13em;
  left: 34em;
  color: white;
  justify-content: center;
  align-items: center;
}

.order-status_css {
  position: relative;
  bottom: 12rem;
  right: 1rem;
}

.order-status_css div h2, h3, h1, u{
  text-align: center;
}

.request-refund_css
{
  border: 1px solid goldenrod;
  display: flex;
  background-color: #998F8F;
  width: 10%;
  height: 3em;
  border-radius: 20px;
  position: relative;
  bottom: 13em;
  left: 34em;
  color: white;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 35vw;

}

.order-received_css{
  border: 1px solid goldenrod;
  display: flex;
  background-color: #D63434;
  width: 10%;
  height: 3em;
  border-radius: 20px;
  position: relative;
  bottom: 16em;
  left: 40em;
  color: white;
  justify-content: center;
  align-items: center;

}
