

/* Fonts and styles */
.jersey-10-regular_css {
    font-family: "Jersey 10", serif;
    font-weight: 400;
    font-style: normal;
  }

  .jersey-25-regular_css {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .protest-strike-regular_css {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

/* Body content CLASS */
body, html
{
  margin: 0;
  padding: 0;
  background: #FFF4F4;
}

.MenuCaption_css
{
  font-size: 45px;
}

  .Title_css
  {
    margin: 0;
    font-size: 70px;
    text-align: center;
    color: orange;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    background-color: red;    
    border: none;
    padding: 5px;
  }

  .Title_css img{
    margin-right: 20px; 
    margin-bottom: -5px;
    height: 50px;
  }

  .caption_css {
    display: flex;
    justify-content: center;
    gap: 40px; 
    padding-top: 10px;
    background-color: #DB6262;
    border: 1px solid rgb(6, 6, 6);
  }

  
  .caption_css a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding-bottom: 2vh;
    padding-left: 9vw;
    margin-right: 8vw;
  }
  
  .caption_css a:hover {
    cursor: pointer;
    color: #7f7a7a;
  }

.contact-info_css
{
  text-align: center;
  background-color: #59CC07;  
  height: 25%;
  margin: 0;
  height: 50vh; 
  display: flex;
  justify-content: space-evenly;
}

.contact-info_css h1
{
  position: absolute;
  color: white;
  font-size: 2.5rem;
  margin-top: 1rem;
  text-shadow: 
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;

}
.contact-info_css img
{
  display: inherit;
  margin-top: 5rem;
  border-radius: 100px;
  border: 1px solid white;
}
.contact-info_css div
{
  position: absolute;
  margin-top: 12rem;
  margin-right: 55%;
  color: white;
  font-size: 40px;
}
.contact-info_css div u
{
  font-size: 20px;  
  color: #334037;
}
