
body, html
{
  margin: 0;
  padding: 0;
  background: #FFF4F4;
}


.jersey-10-regular_css {
  font-family: "Jersey 10", serif;
  font-weight: 400;
  font-style: normal;
}

.rubik-doodle-shadow-regular_css {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
}

  .Title_css
  {
    margin: 0;
    font-size: 60px;
    text-align: center;
    color: orange;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    background-color: red;    
    border: 1px solid red;
    padding: 5px;
  }

.caption_css
{
  background-color: red;
}

.caption_css div
{
  display: inline-flex;
  margin-left: 19.5%;
  color: white;
  font-size: 25px;
  padding-bottom: 2vh;
}

.order_css
{

}